In [116]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import time
base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank'

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.options import Options

chrome_options = webdriver.ChromeOptions()
base_path = base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank' # local, gets current working directory
prefs = {'download.default_directory' : base_path}#, "profile.content_settings.exceptions.automatic_downloads.*.setting" : 1}
chrome_options.add_experimental_option('prefs', prefs)
#chrome_options.add_argument('--user-agent="Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; Lumia 640 XL LTE) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Mobile Safari/537.36 Edge/12.10166"')
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
driver.maximize_window()

driver.get('https://www.centralbank.ae/en/research-and-statistics/')

In [118]:
filter = driver.find_element(By.ID,'collapseOneType')
filter.click()
time.sleep(2)
filter_body = filter.find_element(By.CLASS_NAME,'accordion-body.px-0')
filter_body.click()
time.sleep(2)
inputs = filter_body.find_elements(By.TAG_NAME,'input')
input_2 = inputs[1]
input_2.click()

In [158]:
import time
import wget
url = 'https://www.centralbank.ae'
links_data = []
data_links = []
pages = driver.find_element(By.CLASS_NAME,'pagination.ng-scope').find_elements(By.TAG_NAME,'li')
for page in pages[1:-1]:
    page.find_element(By.TAG_NAME,'a').click()
    time.sleep(1)
    page_source = driver.page_source               
    soup = BeautifulSoup(page_source, 'html.parser')
    downloads = soup.find_all(class_='d-block mb-2 ng-scope')
    for downlaod in downloads:
        links = downlaod.find('a')['href']
        if links.endswith('.pdf'):
            pass
        elif links not in links_data:
            links_data.append(links)
            data_link = url + links
            data_links.append(data_link)
        else:
            pass
    pages = driver.find_element(By.CLASS_NAME,'pagination.ng-scope').find_elements(By.TAG_NAME,'li')

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x007DDCE3+50899]
	(No symbol) [0x0076E111]
	(No symbol) [0x00675588]
	(No symbol) [0x00677EDB]
	(No symbol) [0x00677DB0]
	(No symbol) [0x00678030]
	(No symbol) [0x006A0552]
	(No symbol) [0x006A0AFB]
	(No symbol) [0x00698F71]
	(No symbol) [0x006BB944]
	(No symbol) [0x00698EC6]
	(No symbol) [0x006BBC54]
	(No symbol) [0x006CE01C]
	(No symbol) [0x006BB6F6]
	(No symbol) [0x00697708]
	(No symbol) [0x0069886D]
	GetHandleVerifier [0x00A43EAE+2566302]
	GetHandleVerifier [0x00A792B1+2784417]
	GetHandleVerifier [0x00A7327C+2759788]
	GetHandleVerifier [0x00875740+672048]
	(No symbol) [0x00778872]
	(No symbol) [0x007741C8]
	(No symbol) [0x007742AB]
	(No symbol) [0x007671B7]
	BaseThreadInitThunk [0x76720099+25]
	RtlGetAppContainerNamedObjectPath [0x77657B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77657B3E+238]

In [110]:
# filter 2 2020
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\10235555\Downloads\balance-sheet-of-the-central-bank-of-uae-assets-e-july-2020_010920_0-1(2).xlsx')
title = df.columns[0]+ df.iloc[0,0] + df.iloc[1,0]
df = df[2:-2]
# df.iloc[2,0] = df.iloc[2,0] + '-' + str(df.iloc[1,0])
# df.ffill(axis = 0)
# df[df.columns[0]] = df[df.columns[0]].where(df[df.columns[0]].startswith('20'), 'k')
# df[df.columns[0]] = np.where(df.columns[0].startswith('20'), 'k')
# df = df.transpose()
# df.columns = df.iloc[0,:]
ind_y = []
dates = df.iloc[:,0].to_list()
for i in dates:
    if type(i)== int :
        ind_y.append(dates.index(int(f'{i}')))
for j in range(len(ind_y)-1):
    df.iloc[ind_y[j]+1:ind_y[j+1],0] = df.iloc[ind_y[j]+1:ind_y[j+1],0] + '-' + str(df.iloc[ind_y[j],0])
df.iloc[ind_y[-1]+1:,0] = df.iloc[ind_y[-1]+1:,0] + '-' + str(df.iloc[ind_y[-1],0])
df = df.dropna(subset=[df.columns[2]])
df = df.transpose()
df.columns = df.iloc[0,:]
df.columns = df.columns.str.replace('*', '')
# df[1:].head(5)
df[1:].reset_index(drop=True)

C:\Users\10235555\AppData\Local\Temp\ipykernel_17268\2284918815.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')

Monthly Balance Sheet of the Central Bank of United Arab Emirates,Period,March-2014,June-2014,September-2014,December-2014,March-2015,June-2015,September-2015,December-2015,March-2016,...,October-2019,November-2019,December-2019,January-2020,February-2020,March-2020,April-2020,May-2020,June-2020,July-2020
0,Cash & Bank Balances,8.02,22.43,36.98,42,42.408,40.71,66.88,78.61,46.03,...,245.11,237,254.47,238.97,242.92,255.01,260.1,248.49,244.69,251.12
1,Deposits,101.61,96.52,93.69,76.92,70.057,92.88,98.24,96.36,91.26,...,126.48,140.99,127.59,142.46,143.38,120.06,84.72,79.3,86.28,86.47
2,Investments,207.79,210.95,196.61,207.2,209.39,195.02,156.31,213.73,216.71,...,48.37,52.01,55.31,57.48,64.05,58.73,68.27,65.15,60.23,55.07
3,Loans & Advances,3.01,3.01,3,2.82,8.82,0.32,1.08,2.73,2.71,...,0.06,0.06,0.05,0.04,0.04,8.55,31.85,42.33,44.38,44.72
4,Other Assets,2.63,1.14,6.64,8.45,1.86,2.33,1.62,2.22,2.26,...,7.11,9.72,8.83,8.21,6.69,7.68,7.22,8.13,8.65,8.98
5,Total Assets,323.06,334.05,336.92,337.39,332.535,331.26,324.13,393.65,358.97,...,427.13,439.78,446.25,447.16,457.08,450.03,452.16,443.4,444.23,446.36

In [70]:
# filter 2
import datetime
df = pd.read_excel('C:\\Users\\10235555\\Downloads\\01-1-balance-sheet-of-cbuae-assets-e-january-2023(3).xlsx')
title = df.columns[0]+ df.iloc[0,0] + df.iloc[1,0]
df.columns = df.iloc[2,:]
df_2 = df.iloc[:,1:12]
df_2.columns = pd.to_datetime(df_2.columns,format='%Y-%m-%d %H:%M:%S').strftime('%B-%Y') 
df.columns = [df.columns[0]]+ df_2.columns.to_list() + df.columns[12:].to_list() 
df.columns = [col.strftime('%Y-%m-%d %H:%M:%S') 
if (isinstance(col, datetime.date)  )
else col
for col in df.columns]
df.columns = df.columns.str.replace('*', '')
df = df.iloc[3:9]
df

C:\Users\10235555\AppData\Local\Temp\ipykernel_17268\3015926197.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')

,Item / Period,January-2022,February-2022,March-2022,April-2022,May-2022,June-2022,July-2022,August-2022,September-2022,October-2022,November-2022,Dec-22,Jan-23
3,Cash & Bank Balances,251.42,281.78,267.04,249.84,235.21,210.66,215.74,227.77,222.06,225.51,244.41,279.25,239.65
4,Deposits,64.47,44.83,36.17,51.97,53.43,60.23,65.7,54.26,47.78,49.82,54.83,63.43,103.95
5,Investments,180.91,184.16,181.53,173.68,175.15,174.04,179.25,174.38,165.67,167.39,180.37,180.44,189.54
6,Loans & Advances,1.07,1.21,2.94,1.14,2.72,1.25,2.15,2.55,2.7,2.7,3.56,5.55,6.17
7,Other Assets,20.64,17.64,28.11,43.18,34.44,45.23,32.7,37.76,46.42,40.75,30.44,26.32,20.57
8,Total Assets,518.51,529.62,515.79,519.81,500.95,491.41,495.54,496.72,484.63,486.17,513.61,554.99,559.88

In [111]:
for excel in data_links:
    h3 = excel.split('/')[-1].split('_')[0].split('.')[0].replace('-',' ')
    import numpy as np
    import pandas as pd
    if '2020' in excel:
        import pandas as pd
        import numpy as np
        df = pd.read_excel(excel)
        title = df.columns[0]+ df.iloc[0,0] + df.iloc[1,0]
        df = df[2:-2]
        ind_y = []
        dates = df.iloc[:,0].to_list()
        for i in dates:
            if type(i)== int :
                ind_y.append(dates.index(int(f'{i}')))
        for j in range(len(ind_y)-1):
            df.iloc[ind_y[j]+1:ind_y[j+1],0] = df.iloc[ind_y[j]+1:ind_y[j+1],0] + '-' + str(df.iloc[ind_y[j],0])
        df.iloc[ind_y[-1]+1:,0] = df.iloc[ind_y[-1]+1:,0] + '-' + str(df.iloc[ind_y[-1],0])
        df = df.dropna(subset=[df.columns[2]])
        df = df.transpose()
        df.columns = df.iloc[0,:]
        df.columns = df.columns.str.replace('*', '')
        df = df[1:].reset_index(drop=True)
        df.to_csv(f'{base_path}\\{h3}.csv',index = False)
    else:
        import datetime
        df = pd.read_excel(excel)
        title = df.columns[0]+ df.iloc[0,0] + df.iloc[1,0]
        df.columns = df.iloc[2,:]
        df_2 = df.iloc[:,1:12]
        df_2.columns = pd.to_datetime(df_2.columns,format='%Y-%m-%d %H:%M:%S').strftime('%B-%Y') 
        df.columns = [df.columns[0]]+ df_2.columns.to_list() + df.columns[12:].to_list() 
        df.columns = [col.strftime('%Y-%m-%d %H:%M:%S') 
        if (isinstance(col, datetime.date)  )
        else col
        for col in df.columns]
        df.columns = df.columns.str.replace('*', '')
        df = df.iloc[3:9]
        df.to_csv(f'{base_path}\\{h3}.csv',index = False)

NameError: name 'data_links' is not defined

In [10]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import time
base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank'

In [81]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.options import Options

chrome_options = webdriver.ChromeOptions()
base_path = base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank' # local, gets current working directory
prefs = {'download.default_directory' : base_path}#, "profile.content_settings.exceptions.automatic_downloads.*.setting" : 1}
chrome_options.add_experimental_option('prefs', prefs)
#chrome_options.add_argument('--user-agent="Mozilla/5.0 (Windows Phone 10.0; Android 4.2.1; Microsoft; Lumia 640 XL LTE) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Mobile Safari/537.36 Edge/12.10166"')
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
driver.maximize_window()

driver.get('https://www.centralbank.ae/en/research-and-statistics/')

In [84]:
filter = driver.find_element(By.ID,'collapseOneType')
filter.click()
time.sleep(2)
filter_body = filter.find_element(By.CLASS_NAME,'accordion-body.px-0')
filter_body.click()
time.sleep(2)
inputs = filter_body.find_elements(By.TAG_NAME,'input')
input_1 = inputs[0]
input_1.click()

In [95]:
h3_all = driver.find_elements(By.CLASS_NAME,'card-title.h4.text-dark-custom.font-m.mb-2.ng-binding')
for h3 in h3_all:
    print(h3.text)

Statistical Bulletin January 2023
13 April 2023
Statistical Bulletin December 2022
02 March 2023
Statistical Bulletin November 2022
26 January 2023
Statistical Bulletin October 2022
12 January 2023
Statistical Bulletin September 2022
14 December 2022
Statistical Bulletin August 2022
20 October 2022
Statistical Bulletin July 2022
06 October 2022
Statistical Bulletin June 2022
02 September 2022
Statistical Bulletin May 2022
31 May 2022

In [20]:
page_source = driver.page_source               
soup = BeautifulSoup(page_source, 'html.parser')
links_data = []
downloads = soup.find_all(class_='d-block mb-2 ng-scope')
for downlaod in downloads:
    links = downlaod.find('a')['href']
    if links.endswith('.pdf'):
        pass
    else:
        links_data.append(links)

In [79]:
xls = pd.ExcelFile('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx')
sheets = xls.sheet_names
sheets
# df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheets[4])

['SB-REF-Graphs',
 'Sheet-1',
 'Sheet-2',
 'Sheet-3',
 '1-Sel Ind ',
 '2 Mon Survey',
 'Graph-Mon Survey',
 '3-Change_ Money Supply',
 'Graph-Factors',
 '4 Mon Base',
 '5 CB BS',
 'Graph-CB BS',
 '6 CB Intnl Res',
 '7 Bank Asts',
 '8 Bank Liab',
 'Graph- BS Banks',
 '9 NB Asts',
 '10 NB Liab',
 '11 FB Asts',
 '12 FB Liab',
 '13 CB Asts',
 '14 CB Liab',
 '15 IB Asts',
 '16 IB Liab',
 '17 Memo',
 '18 Fgn Ast-Liab',
 'Grpah-Fgn Ast-Liab',
 '19 NB Fgn Ast-Liab',
 '20 FB Fgn Ast-Liab',
 '21 CB Fgn Ast-Liab',
 '22 IB Fgn Ast-Liab',
 '23 Dom Crd',
 'Graph- Crd',
 '24 NB Dom Crd',
 '25 FB Dom Crd',
 '26 CB Dom Crd',
 '27 IB Dom Crd',
 '28 Res Crd by Act',
 '29 Non Res Crd by Act',
 '30 Dep',
 'Graph- Dep',
 '31 NB Dep',
 '32 FB Dep',
 '33 CB Dep',
 '34 IB Dep',
 '35 Dep by Size',
 '36 Dep by Cy',
 '37 NB Dep by Cy',
 '38 FB Dep by Cy',
 '39 CB Dep by Cy',
 '40 IB Dep by Cy',
 '41 Time Dep',
 '42 NB Time Dep ',
 '43 FB Time Dep',
 '44 CB Time Dep',
 '45 IB Time Dep',
 '46 Currency',
 '47 Cheques',
 '48 FTS',
 '49 Branch NW']

In [31]:
import numpy as np
import pandas as pd
sheets_data = []
xls = pd.ExcelFile('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx')
sheets = xls.sheet_names
# df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheets[4])
for sheet in sheets:
    for n in range(1,50):
        if sheet.startswith(f'{n}'):
                if sheet not in sheets_data:
                    sheets_data.append(sheet)

In [74]:
d = sheets_data[0:17] + sheets_data[22:27]
c = sheets_data[17:22] + sheets_data[34:45] + sheets_data[46:48]
e = sheets_data[27:34] + [sheets_data[45]]

['28 Res Crd by Act',
 '29 Non Res Crd by Act',
 '30 Dep',
 '31 NB Dep',
 '32 FB Dep',
 '33 CB Dep',
 '34 IB Dep',
 '46 Currency']

In [80]:
d = sheets_data[0:17] + sheets_data[22:27]
c = sheets_data[17:22] + sheets_data[34:45] + sheets_data[46:48]
e = sheets_data[27:34] #+ [sheets_data[45]]
for sheet_data in d:
    df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
    try:
        title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
    except:
        title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
    df = df.iloc[:,3:]
    df = df.dropna(how='all')
    df = df.dropna(how='all', axis=1)
    df.columns = df.iloc[0,:]
    df = df.iloc[1:]
    df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)
for sheet_data in e:
    df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
    try:
        title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
    except:
        title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
    df = df.iloc[:,4:]
    df = df.dropna(how='all')
    df = df.dropna(how='all', axis=1)
    df.columns = df.iloc[0,:]
    df = df.iloc[1:]
    df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)
for sheet_data in c:
    df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
    try:
        title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
    except:
        title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
    df = df.iloc[:,2:]
    df = df.dropna(how='all')
    df = df.dropna(how='all', axis=1)
    df.columns = df.iloc[0,:]
    df = df.iloc[1:]
    df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)
for sheet_data in sheets_data[45:46]:
    df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
    try:
        title = df.iloc[0,0].replace(':','').replace('/','') + ' ' + df.iloc[2,0]
    except:
        title = df.iloc[1,0].replace(':','').replace('/','') + ' ' + df.iloc[3,0]
    df = df.iloc[:,2:]
    df = df.dropna(how='all')
    df = df.dropna(how='all', axis=1)
    df.columns = df.iloc[0,:]
    df = df.iloc[1:]
    df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)

In [61]:
for sheet_data in sheets_data:
    try:
        df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
        title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
        df.columns = df.iloc[3,:]
        df.columns = df.columns.str.replace('*', '')
        sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
        df = df.iloc[:sum,:]
        df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
        df[df.columns[2]] = df[df.columns[2]].fillna('')
        # df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
        df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
        df = df.dropna(how='all')
        df = df.dropna(how='all', axis=1)
        df = df.dropna(subset=[df.columns[2]])
        df = df.drop(df.columns[1], axis=1)
        df = df[1:]
        df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)
    except:
        try:
            df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
            title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
            df.columns = df.iloc[4,:]
            df.columns = df.columns.str.replace('*', '')
            sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
            df = df.iloc[:sum,:]
            df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
            df[df.columns[2]] = df[df.columns[2]].fillna('')
            # df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
            df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
            df = df.dropna(how='all')
            df = df.dropna(how='all', axis=1)
            df = df.dropna(subset=[df.columns[2]])
            df = df.drop(df.columns[1], axis=1)
            df = df[1:]
            df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)
        except:
            df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet_data)
            title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
            df.columns = df.iloc[2,:]
            df.columns = df.columns.str.replace('*', '')
            sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
            df = df.iloc[:sum,:]
            df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
            df[df.columns[2]] = df[df.columns[2]].fillna('')
            # df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
            df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
            df = df.dropna(how='all')
            df = df.dropna(how='all', axis=1)
            df = df.dropna(subset=[df.columns[2]])
            df = df.drop(df.columns[1], axis=1)
            df = df[1:]
            df.to_csv(f'{base_path}\\Statistical Bulletin {title}.csv',index = False)

C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_4824\3590289702.py:41: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')

ValueError: cannot reindex on an axis with duplicate labels

In [77]:
import numpy as np
import pandas as pd
xls = pd.ExcelFile('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx')
sheets = xls.sheet_names
df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheets[31])
# for sheet in sheets:
#     # for n in range(1,50):
#         if sheet.startswith(n for n in range(1,50)):
#             df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheet)
    
# title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
# df.columns = df.iloc[2,:]
# df.columns = df.columns.str.replace('*', '')
# sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
# df = df.iloc[:sum,:]
# df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
# # df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
# df[df.columns[2]] = df[df.columns[2]].fillna('')
# df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
# df = df.dropna(how='all')
# df = df.dropna(how='all', axis=1)
# df = df.dropna(subset=[df.columns[2]])
# df = df.drop(df.columns[1], axis=1)
# df = df[1:]
# df[-8:]
# df = df.iloc[:,3:]
# df = df.dropna(how='all')
# df = df.dropna(how='all', axis=1)
# df.columns = df.iloc[0,:]
# df = df.iloc[1:]
df
# sum

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Table 23 : Domestic Credit ( All Banks ) 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(In Millions of AED),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Item,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022 *,Jan 2023 *
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Government,NaN,191498,257383,251923,252527,245689,245165,236038,226815,222366,212527,211851,211668,209674
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Public Sector,NaN,167921,185273,219950,215198,223553,222751,245391,263874,259981,255704,262643,253219,251547
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Private Sector,NaN,1150018,1149953,1124913,1121883,1126340,1134155,1137528,1148420,1176516,1187177,1195727,1186550,1189661
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Private - Corporate,812595,817548,795439,790934,789826,790344,789914,791667,815321,818574,820669,811706,811875
13,NaN,NaN,Financial Institutions,19951,15338,16624,16164,13537,14727,16783,15505,13685,13460,12737,12589,12564
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Business and Industrial Sector **,792644,802210,778815,774770,776289,775617,773131,776162,801636,805114,807932,799117,799311
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Private - Retail,337423,332405,329474,330949,336514,343811,347614,356753,361195,368603,375058,374844,377786
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Total,NaN,1509437,1592609,1596786,1589608,1595582,1602071,1618957,1639109,1658863,1655408,1670221,1651437,1650882
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,1 Domestic Credit Included Lending to ( Reside...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,* Preliminary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,** Includes Lending to Insurance Companies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
for n in range(1,50):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [15]:
ddf = df.replace(' ', np.nan)                   # to get rid of empty values
nan_values = df[df.isna().any(axis=1)]         # to get all rows with Na

nan_values

3,NaN,Indicator,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022,Jan 2023
0,NaN,Table 1 : Selected Monetary and Banking Indica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,(In Millions of AED),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Indicator,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022 *,Jan 2023 *
4,NaN,Central Bank of the UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total Assets/Liabilities,Total Assets/Liabilities,417711,446246,470526,470020,476210,485865,521538,515793,491413,484633,513614,554987,559875
6,NaN,Gross International Reserves **,Gross International Reserves **,365426,397949,391857,396183,406813,432325,481528,475008,447833,438117,468232,508402,515218
7,NaN,Money Supply Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Money Supply M1,Money Supply M1,485699,515061,600060,642311,659566,668485,701853,728199,726169,722918,729648,737459,752042
9,NaN,Money Supply M2,Money Supply M2,1308432,1413166,1478607,1487526,1488578,1485913,1563025,1593354,1622144,1645538,1678006,1703034,1719863
10,NaN,Money Supply M3,Money Supply M3,1602379,1717456,1769368,1766399,1772631,1786880,1856910,1885282,1939811,2048000,2110076,2100138,2123949
11,NaN,Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Total Assets,Total Assets,2868516,3082934,3188014,3175850,3208761,3247128,3321488,3336354,3449173,3583013,3639254,3669678,3668227
13,NaN,Foreign Assets (Net),Foreign Assets (Net),59657,91113,133471,131938,122789,132290,154708,178246,224359,355562,399467,382440,408402
14,NaN,Foreign Assets,Foreign Assets,679647,771092,849077,849718,871879,898713,933169,923237,1017215,1144270,1181398,1191330,1191568
15,NaN,Foreign Assets to Total Assets (%),Foreign Assets to Total Assets (%),0.236933,0.250116,0.266334,0.267556,0.271718,0.276772,0.280949,0.27672,0.294916,0.31936,0.324626,0.324642,0.324835
16,NaN,Foreign Liabilities,Foreign Liabilities,619990,679979,715606,717780,749090,766423,778461,744991,792856,788708,781931,808890,783166
17,NaN,Foreign Liabilities to Total Liabilities (%),Foreign Liabilities to Total Liabilities (%),0.216136,0.220562,0.224468,0.226012,0.233451,0.236031,0.234371,0.223295,0.229868,0.220124,0.21486,0.220425,0.2135
18,NaN,Deposits 1,Deposits 1,1755650,1870184,1884545,1881268,1908655,1942326,1996527,2006237,2091833,2186962,2239297,2222122,2233095
19,NaN,Residents,Residents,1542237,1648812,1682102,1677754,1682944,1699170,1765533,1791435,1843449,1958348,2015760,2009105,2024379
20,NaN,of which: Corporate,of which: Corporate,590877,607023,606207,611256,623640,638529,671422,697966,735980,738143,763149,789487,791038
21,NaN,Non-Residents,Non-Residents,213413,221372,202443,203514,225711,243156,230994,214802,248384,228614,223537,213017,208716
22,NaN,of which: Corporate,of which: Corporate,91889,87964,72250,69533,80330,82932,82170,92340,138302,119744,116203,103590,101881
23,NaN,Bank Credit (Domestic),Bank Credit (Domestic),1509437,1592609,1596786,1589608,1595582,1602071,1618957,1639109,1658863,1655408,1670221,1651437,1650882
24,NaN,of which: Credit to Private Sector ***,of which: Credit to Private Sector ***,1150018,1149953,1124913,1121883,1126340,1134155,1137528,1148420,1176516,1187177,1195727,1186550,1189661
25,NaN,Total Number of National Banks and Branches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Head Offices,Head Offices,22,21,21,21,21,21,22,22,23,23,22,22,22
27,NaN,Branches,Branches,743,656,541,534,522,521,513,511,508,506,506,498,496
28,NaN,Pay Offices,Pay Offices,34,31,23,22,22,20,20,20,21,21,21,21,21
29,NaN,Electronic Banking Service Units,Electronic Banking Service Units,33,33,34,35,40,42,41,42,43,44,44,45,45
30,NaN,Total Number of Foreign Banks and Branches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Head Offices,Head Offices,38,38,37,37,37,37,37,37,37,37,39,39,39
32,NaN,of which: Full Fledged Commercial Banks,of which: Full Fledged Commercial Banks,27,27,27,27,27,27,27,27,27,27,28,28,28
33,NaN,of which: Licensed Wholesale Banks,of which: Licensed Wholesale Banks,11,11,10,10,10,10,10,10,10,10,11,11,11
34,NaN,Branches,Branches,80,79,73,73,74,74,74,74,74,74,73,73,73
35,NaN,Pay Offices,Pay Offices,1,1,1,1,1,1,1,1,1,1,1,1,1
36,NaN,Electronic Banking Service Units,Electronic Banking Service Units,21,22,23,23,22,21,21,21,21,21,21,21,21
37,NaN,Number of Employees in Banks (UAE) 2,NaN,36629,35637,33444,33037,32623,32753,33491,33882,34332,35157,35157,35830,35830
38,NaN,Employed with National Banks 2,Employed with National Banks 2,30966,29673,26408,26124,25847,25957,26763,27122,27545,28251,28251,28737,28737
39,NaN,Employed with Foreign Banks 2,Employed with Foreign Banks 2,5663,5964,7036,6913,6776,6796,6728,6760,6787,6906,6906,7093,7093
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,* Preliminary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,** Central Bank Gross International Reserves =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,*** Including Claims on Other Financial Instit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,1 Excluding Inter-Bank Deposits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,2 Excluding Auxiliary Staff. Data Subject to R...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df.columns = df.columns.str.replace('*', '')

C:\Users\10235555\AppData\Local\Temp\ipykernel_12308\4273986328.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')

In [49]:
df.columns

Index([        nan, 'Indicator',         nan,   'Dec2018',   'Dec2019',
         'Dec2020',   'Mar2021',   'Jun2021',   'Sep2021',   'Dec2021',
         'Mar2022',   'Jun2022',   'Sep2022',   'Nov2022',   'Dec2022',
         'Jan2023'],
      dtype='object', name=3)

In [74]:
df[df.columns[1]] = df[df.columns[1]].fillna(df[df.columns[1]] + df[df.columns[2]], inplace=True)

In [75]:
df

3,NaN,Indicator,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022,Jan 2023
0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,None,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022 *,Jan 2023 *
4,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,None,Total Assets/Liabilities,417711,446246,470526,470020,476210,485865,521538,515793,491413,484633,513614,554987,559875
6,NaN,None,Gross International Reserves **,365426,397949,391857,396183,406813,432325,481528,475008,447833,438117,468232,508402,515218
7,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,None,Money Supply M1,485699,515061,600060,642311,659566,668485,701853,728199,726169,722918,729648,737459,752042
9,NaN,None,Money Supply M2,1308432,1413166,1478607,1487526,1488578,1485913,1563025,1593354,1622144,1645538,1678006,1703034,1719863
10,NaN,None,Money Supply M3,1602379,1717456,1769368,1766399,1772631,1786880,1856910,1885282,1939811,2048000,2110076,2100138,2123949
11,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,None,Total Assets,2868516,3082934,3188014,3175850,3208761,3247128,3321488,3336354,3449173,3583013,3639254,3669678,3668227
13,NaN,None,Foreign Assets (Net),59657,91113,133471,131938,122789,132290,154708,178246,224359,355562,399467,382440,408402
14,NaN,None,Foreign Assets,679647,771092,849077,849718,871879,898713,933169,923237,1017215,1144270,1181398,1191330,1191568
15,NaN,None,Foreign Assets to Total Assets (%),0.236933,0.250116,0.266334,0.267556,0.271718,0.276772,0.280949,0.27672,0.294916,0.31936,0.324626,0.324642,0.324835
16,NaN,None,Foreign Liabilities,619990,679979,715606,717780,749090,766423,778461,744991,792856,788708,781931,808890,783166
17,NaN,None,Foreign Liabilities to Total Liabilities (%),0.216136,0.220562,0.224468,0.226012,0.233451,0.236031,0.234371,0.223295,0.229868,0.220124,0.21486,0.220425,0.2135
18,NaN,None,Deposits 1,1755650,1870184,1884545,1881268,1908655,1942326,1996527,2006237,2091833,2186962,2239297,2222122,2233095
19,NaN,None,Residents,1542237,1648812,1682102,1677754,1682944,1699170,1765533,1791435,1843449,1958348,2015760,2009105,2024379
20,NaN,None,of which: Corporate,590877,607023,606207,611256,623640,638529,671422,697966,735980,738143,763149,789487,791038
21,NaN,None,Non-Residents,213413,221372,202443,203514,225711,243156,230994,214802,248384,228614,223537,213017,208716
22,NaN,None,of which: Corporate,91889,87964,72250,69533,80330,82932,82170,92340,138302,119744,116203,103590,101881
23,NaN,None,Bank Credit (Domestic),1509437,1592609,1596786,1589608,1595582,1602071,1618957,1639109,1658863,1655408,1670221,1651437,1650882
24,NaN,None,of which: Credit to Private Sector ***,1150018,1149953,1124913,1121883,1126340,1134155,1137528,1148420,1176516,1187177,1195727,1186550,1189661
25,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,None,Head Offices,22,21,21,21,21,21,22,22,23,23,22,22,22
27,NaN,None,Branches,743,656,541,534,522,521,513,511,508,506,506,498,496
28,NaN,None,Pay Offices,34,31,23,22,22,20,20,20,21,21,21,21,21
29,NaN,None,Electronic Banking Service Units,33,33,34,35,40,42,41,42,43,44,44,45,45
30,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,None,Head Offices,38,38,37,37,37,37,37,37,37,37,39,39,39
32,NaN,None,of which: Full Fledged Commercial Banks,27,27,27,27,27,27,27,27,27,27,28,28,28
33,NaN,None,of which: Licensed Wholesale Banks,11,11,10,10,10,10,10,10,10,10,11,11,11
34,NaN,None,Branches,80,79,73,73,74,74,74,74,74,74,73,73,73
35,NaN,None,Pay Offices,1,1,1,1,1,1,1,1,1,1,1,1,1
36,NaN,None,Electronic Banking Service Units,21,22,23,23,22,21,21,21,21,21,21,21,21
37,NaN,None,NaN,36629,35637,33444,33037,32623,32753,33491,33882,34332,35157,35157,35830,35830
38,NaN,None,Employed with National Banks 2,30966,29673,26408,26124,25847,25957,26763,27122,27545,28251,28251,28737,28737
39,NaN,None,Employed with Foreign Banks 2,5663,5964,7036,6913,6776,6796,6728,6760,6787,6906,6906,7093,7093
40,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:

df[df.columns[1]] = df[df.columns[2]].ffill(axis = 0)
df[4:].head(8)

3,NaN,Indicator,NaN,Dec 2018,Dec 2019,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Nov 2022,Dec 2022,Jan 2023
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Total Assets/Liabilities,Total Assets/Liabilities,417711,446246,470526,470020,476210,485865,521538,515793,491413,484633,513614,554987,559875
6,NaN,Gross International Reserves **,Gross International Reserves **,365426,397949,391857,396183,406813,432325,481528,475008,447833,438117,468232,508402,515218
7,NaN,Gross International Reserves **,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Money Supply M1,Money Supply M1,485699,515061,600060,642311,659566,668485,701853,728199,726169,722918,729648,737459,752042
9,NaN,Money Supply M2,Money Supply M2,1308432,1413166,1478607,1487526,1488578,1485913,1563025,1593354,1622144,1645538,1678006,1703034,1719863
10,NaN,Money Supply M3,Money Supply M3,1602379,1717456,1769368,1766399,1772631,1786880,1856910,1885282,1939811,2048000,2110076,2100138,2123949
11,NaN,Money Supply M3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
downloads = driver.find_elements(By.CLASS_NAME,'d-block.mb-2.ng-scope')
for downlaod in downloads:
    links = downlaod.find_element(By.TAG_NAME,'a').get_attribute('href')
    print(links)
    if links.endswith('.pdf'):
        pass
    else:
        downlaod.find_element('a').click()

https://www.centralbank.ae/media/jnln53n5/statistical-bulletin-january-2023.pdf
https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx

InvalidArgumentException: Message: invalid argument: invalid locator
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0048DCE3+50899]
	(No symbol) [0x0041E111]
	(No symbol) [0x00325588]
	(No symbol) [0x003509EC]
	(No symbol) [0x00350AFB]
	(No symbol) [0x00348F71]
	(No symbol) [0x0036B944]
	(No symbol) [0x00348EC6]
	(No symbol) [0x0036BC54]
	(No symbol) [0x0037E01C]
	(No symbol) [0x0036B6F6]
	(No symbol) [0x00347708]
	(No symbol) [0x0034886D]
	GetHandleVerifier [0x006F3EAE+2566302]
	GetHandleVerifier [0x007292B1+2784417]
	GetHandleVerifier [0x0072327C+2759788]
	GetHandleVerifier [0x00525740+672048]
	(No symbol) [0x00428872]
	(No symbol) [0x004241C8]
	(No symbol) [0x004242AB]
	(No symbol) [0x004171B7]
	BaseThreadInitThunk [0x75440099+25]
	RtlGetAppContainerNamedObjectPath [0x76FA7B6E+286]
	RtlGetAppContainerNamedObjectPath [0x76FA7B3E+238]

In [101]:
import time
import wget
url = 'https://www.centralbank.ae/en/research-and-statistics'
links_data = []
pages = driver.find_element(By.CLASS_NAME,'pagination.ng-scope').find_elements(By.TAG_NAME,'li')
for page in pages[1:-1]:
    page.find_element(By.TAG_NAME,'a').click()
    time.sleep(1)
    page_source = driver.page_source               
    soup = BeautifulSoup(page_source, 'html.parser')
    downloads = soup.find_all(class_='d-block mb-2 ng-scope')
    for downlaod in downloads:
        h3 = soup.find_all(class_='card-title h4 text-dark-custom font-m mb-2 ng-binding')[downloads.index(downlaod)].text
        links = downlaod.find('a')['href']
        if links.endswith('.pdf'):
            pass
        elif links not in links_data:
            links_data.append(links)
            data_link = url + links
            print(data_link)

https://www.centralbank.ae/en/research-and-statistics/media/badjlgbn/statistical-bulletin-january-2023.xlsx
https://www.centralbank.ae/en/research-and-statistics/media/gvwegceg/statistical-bulletin-december-2022.xlsx
https://www.centralbank.ae/en/research-and-statistics/media/gu4hjhy1/statistical-bulletin-november-2022.xlsx
https://www.centralbank.ae/en/research-and-statistics/media/4zpfzwpy/statistical-bulletin-october-2022_281122.xlsx

IndexError: list index out of range

In [ ]:
# https://www.centralbank.ae/media/j5dn4jg4/04-1-uae-monetary-aggregates-e-january-2022.xlsx

In [103]:
pd.read_excel('https://www.centralbank.ae/media/4zpfzwpy/statistical-bulletin-october-2022_281122.xlsx')

,STATISTICAL BULLETIN REFERENCE SHEET - Graphs Working Sheet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,RESERVED FOR RSD PURPOSE ONLY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SNO,IRR FORM \nSHORT NAME,LINE ITEM\nPARENT,LINE \nITEM NO,LINE ITEM\nDESCRIPTION,REFERENCE FORMULA\nDEFINATION,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,QUARTER -5,QUARTER -4,QUARTER -3,QUARTER -2,QUARTER -1,CURRENT\nMONTH -2,CURRENT\nMONTH -1,CURRENT\nMONTH,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Reserved Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-30 00:00:00,2021-09-30 00:00:00,2021-12-31 00:00:00,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,NaN,NaN,NaN,NaN,Qty with * CM,NaN,NaN,NaN,NaN,...,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022 *,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,For Graphs,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,only Year,NaN,NaN,NaN,NaN,...,2021-06-30 00:00:00,2021-09-30 00:00:00,2021-12-31 00:00:00,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,Only month,NaN,NaN,NaN,NaN,...,2021-06-30 00:00:00,2021-09-30 00:00:00,2021-12-31 00:00:00,2022-03-31 00:00:00,2022-06-30 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,Month & Year,NaN,NaN,NaN,NaN,...,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Aug 2022,Sep 2022,Oct 2022,NaN,NaN

In [115]:
# table 1
import time
import wget
url = 'https://www.centralbank.ae'
links_data = []
pages = driver.find_element(By.CLASS_NAME,'pagination.ng-scope').find_elements(By.TAG_NAME,'li')
for page in pages[1:-1]:
    page.find_element(By.TAG_NAME,'a').click()
    time.sleep(1)
    page_source = driver.page_source               
    soup = BeautifulSoup(page_source, 'html.parser')
    downloads = soup.find_all(class_='d-block mb-2 ng-scope')
    for downlaod in downloads:
        h3 = soup.find_all(class_='card-title h4 text-dark-custom font-m mb-2 ng-binding')[downloads.index(downlaod)].text.split('\n')[1].replace(' ','')
        links = downlaod.find('a')['href']
        if links.endswith('.pdf'):
            pass
        elif links not in links_data:
            links_data.append(links)
            data_link = url + links
            
            d = sheets_data[0:17] + sheets_data[22:27]
            c = sheets_data[17:22] + sheets_data[34:45] + sheets_data[46:48]
            e = sheets_data[27:34] #+ [sheets_data[45]]
            for sheet_data in d:
                df = pd.read_excel(data_link,sheet_data)
                try:
                    title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
                except:
                    title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
                df = df.iloc[:,3:]
                df = df.dropna(how='all')
                df = df.dropna(how='all', axis=1)
                df.columns = df.iloc[0,:]
                df = df.iloc[1:]
                df.to_csv(f'{base_path}\\{title} - {h3}.csv',index = False)
            for sheet_data in e:
                df = pd.read_excel(data_link,sheet_data)
                try:
                    title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
                except:
                    title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
                df = df.iloc[:,4:]
                df = df.dropna(how='all')
                df = df.dropna(how='all', axis=1)
                df.columns = df.iloc[0,:]
                df = df.iloc[1:]
                df.to_csv(f'{base_path}\\{title} - {h3}.csv',index = False)
            for sheet_data in c:
                df = pd.read_excel(data_link,sheet_data)
                try:
                    title = df.iloc[0,1].replace(':','').replace('/','') + ' ' + df.iloc[2,1]
                except:
                    title = df.iloc[1,1].replace(':','').replace('/','') + ' ' + df.iloc[3,1]
                df = df.iloc[:,2:]
                df = df.dropna(how='all')
                df = df.dropna(how='all', axis=1)
                df.columns = df.iloc[0,:]
                df = df.iloc[1:]
                df.to_csv(f'{base_path}\\{title} - {h3}.csv',index = False)
            for sheet_data in sheets_data[45:46]:
                df = pd.read_excel(data_link,sheet_data)
                try:
                    title = df.iloc[0,0].replace(':','').replace('/','') + ' ' + df.iloc[2,0]
                except:
                    title = df.iloc[1,0].replace(':','').replace('/','') + ' ' + df.iloc[3,0]
                df = df.iloc[:,2:]
                df = df.dropna(how='all')
                df = df.dropna(how='all', axis=1)
                df.columns = df.iloc[0,:]
                df = df.iloc[1:]
                df.to_csv(f'{base_path}\\{title} - {h3}.csv',index = False)

        else:
            pass
    pages = driver.find_element(By.CLASS_NAME,'pagination.ng-scope').find_elements(By.TAG_NAME,'li')

TypeError: can only concatenate str (not "float") to str

In [114]:
h3 = soup.find(class_='card-title h4 text-dark-custom font-m mb-2 ng-binding').text.split('\n')[1].replace(' ','')
h3

'StatisticalBulletinJanuary2023'

In [59]:
import os
pdList = []
for files in os.listdir(base_path):
    if files.startswith('statistical-bulletin'):
        file_excel = pd.read_excel(f'{base_path}\\{files}',engine='')
        pdList.append(file_excel)

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [46]:
from functools import reduce

df = reduce(lambda  left,right: pd.merge(left,right,on=['year'],how='outer'), pdList)
df.to_csv(f'{base_path}\\STATISTICAL-BULLETIN.csv', index=False)

statistical-bulletin-january-2023.xlsx
statistical-bulletin-december-2022.xlsx
statistical-bulletin-november-2022.xlsx
statistical-bulletin-october-2022_281122.xlsx
statistical-bulletin-september-2022_031122.xlsx
statistical-bulletin-august-2022_280922.xlsx
statistical-bulletin-july-2022_240822.xlsx
statistical-bulletin-jun-2022_040822.xlsx
statistical-bulletin-may-2022_010722.xlsx
statistical-bulletin-april-2022_070622.xlsx
statistical-bulletin-march-2022_120522.xlsx
statistical-bulletin-february-2022_310322.xlsx
statistical-bulletin-january-2022_090322.xlsx
statistical-bulletin-december-2021_070322.xlsx
statistical-bulletin-november-2021_221221_0.xlsx
statistical-bulletin-october-2021_281121_0.xlsx
statistical-bulletin-september-2021_311021_0.xlsx
statistical-bulletin-august-2021_290921_r_300921.xlsx
statistical-bulletin-july-2021_240821.xlsx
statistical-bulletin-june-2021_040821_0.xlsx
statistical-bulletin-may-2021_280621.xlsx
statistical-bulletin-april-2021_250521.xlsx
statistical-bulletin-march-2021_050521.xlsx
statistical-bulletin-february-2021_250321_0.xlsx
statistical-bulletin-february-2021_250321_0.xlsx
statistical-bulletin-january-2021_230221_0.xlsx
statistical-bulletin-october-2020_221120_0.xlsx
statistical-bulletin-september-2020_031120_0.xlsx
statistical-bulletin-august-2020_0.xlsx
statistical-bulletin-july-2020_010920_0.xlsx
statistical-bulletin-jun-2020_0-1.xlsx

In [4]:
url = 'https://www.centralbank.ae/en/research-and-statistics/'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [1]:
Table_2 = []
base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank'
import os
for files in os.listdir(f'{base_path}'):
    if files.startswith('Table 2 '):
        Table_2.append(files)

In [5]:
import numpy as np
import pandas as pd
sheets_data = []
xls = pd.ExcelFile('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx')
sheets = xls.sheet_names
df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheets[5])
title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
df.columns = df.iloc[3,:]
df.columns = df.columns.str.replace('*', '')
sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
df = df.iloc[:sum,:]
df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
df[df.columns[2]] = df[df.columns[2]].fillna('')
# df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
df = df.dropna(how='all')
df = df.dropna(how='all', axis=1)
df = df.dropna(subset=[df.columns[2]])
df = df.drop(df.columns[1], axis=1)
df = df[1:]
col_0 = df.iloc[:,0]

C:\Users\10235555\AppData\Local\Temp\ipykernel_13580\1559742662.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')

In [2]:
# Table 2
Table_2 = []
base_path = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\central_bank'
import os
for files in os.listdir(f'{base_path}'):
    if files.startswith('Table 2 '):
        Table_2.append(files)
import numpy as np
import pandas as pd
sheets_data = []
xls = pd.ExcelFile('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx')
sheets = xls.sheet_names
df = pd.read_excel('https://www.centralbank.ae/media/badjlgbn/statistical-bulletin-january-2023.xlsx',sheets[5])
title = df.iloc[0,1].replace(':','') + ' ' + df.iloc[2,1]
df.columns = df.iloc[3,:]
df.columns = df.columns.str.replace('*', '')
sum = np.where(pd.isnull(df[df.columns[1]]))[0].tolist()[-1]
df = df.iloc[:sum,:]
df[df.columns[1]] = df[df.columns[1]].ffill(axis = 0)
df[df.columns[2]] = df[df.columns[2]].fillna('')
# df[df.columns[1]] = df[df.columns[1]].str.strip().replace('', np.nan).fillna(df[df.columns[2]])
df[df.columns[1]] = df[df.columns[1]].astype(str) + ' _ ' + df[df.columns[2]]
df = df.dropna(how='all')
df = df.dropna(how='all', axis=1)
df = df.dropna(subset=[df.columns[2]])
df = df.drop(df.columns[1], axis=1)
df = df[1:]
col_0 = df.iloc[:,0]
col_0 = col_0.to_list()
# col_0.insert(19, 'Total Number of National Banks and Branches _ of which: Banks operating under digital platform')
pdList = []
for i in range(len(Table_2)):
    globals()[f'df_{i}'] = pd.read_csv(f'{base_path}\\{Table_2[i]}').reset_index(drop=True)
    globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
    globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace(' ', '')
    globals()[f'df_{i}'].insert(loc=0, column='Indicator', value=col_0)
    pdList.append(globals()[f'df_{i}'])

for i in range(len(pdList)-1):
    cols_to_use = globals()[f'df_{i+1}'].columns.difference(globals()[f'df_{i}'].columns)
    globals()[f'df_{i+1}'] = pd.merge(globals()[f'df_{i}'], globals()[f'df_{i+1}'][cols_to_use], left_index=True, right_index=True, how='outer')
globals()[f'df_{i}'].to_csv('C:\\Users\\10235555\\Documents\\Dataportal Data\\Table Central Bank\\Table 2  Monetary Survey  (In Millions of AED) - statistical bulletin.csv',index=False)

C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')
C:\Users\10235555\AppData\Local\Temp\ipykernel_18188\3058480609.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  globals()[f'df_{i}'].columns = globals()[f'df_{i}'].columns.str.replace('*', '')